{% extends "layout.html" %}

{# % set title = "*Home page title*" % #}

{% block content %}
  <div class="hero-unit">
    <h1>hero-tmpl</h1>
    <p>{{ config['X_HT_PROJECT_DESCRIPTION'] }}</p>
    <p><a href="http://github.com/DavidLGoldberg/hero-tmpl" class="btn btn-primary btn-large">Download &raquo;</a></p>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Heroku</h2>
       <p>
        Use Heroku's Procfile and Foreman to quickly test your app locally and deploy to production using gunicorn and gevents.
       </p>
    </div>
    <div class="span4">
      <h2>Flask &amp; Jinja2</h2>
       <p>
        Uses Flask and Jinja2 for quick lightweight web framework and templating engine.
       </p>
   </div>
    <div class="span4">
      <h2>Twitter Bootstrap</h2>
      <p>
       Bootstrap has been wired up using Jinja layouts and Flask endpoints.  Less compilation provided through watchr. 
      </p>
    </div>
  </div>
{% endblock %}
